[main]
node = http://nodes.wavesnodes.com
# select the network: testnet or mainnet
network = mainnet
matcher = https://matcher.waves.exchange
order_fee = 300000
order_lifetime = 86400
[account]
private_key = ACEnskQmZRchvmbV2huaTPcBxhEpEs2gi8GYq8QM6ukW

[market]
amount_asset = WAVES
amount_asset1 = 8LQW8f7P5d5PZM7GtZEBgaqRPGSzS3DfPuiXrURJ4AJS
price_asset = 8LQW8f7P5d5PZM7GtZEBgaqRPGSzS3DfPuiXrURJ4AJS
price_asset2 = 474jTeYx2r2Va35794tCScAXWJG9hU2HcgxzMowaZUnu

